@import '../../mixins';

.header {
  background: #2196F3;
  @include boxShadow(); 
  width: 100%;
  padding: 0 10px;
  @include displayFlex();
  justify-content: 'space-between';
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  
  .active {
    vertical-align: middle;
    background: #1E88E5;
    text-align: center;
    color: #fff !important;
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 64px;
    width: 120px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
    margin-right: 15px;
    
    &:hover {
      color: #fff;
      transition: color .4s;
    }
  }
}

.scrolled-header {
  background-color: rgb(116, 161, 196) !important;
}