@mixin boxShadow() {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
}

@mixin buttonShadow() {
  box-shadow: -1px -1px 5px 0px rgba(72,72,72,0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(72,72,72,0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(72,72,72,0.75);
}

@mixin displayFlex() {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
}

@mixin boxSizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}